In [1]:
import pandas as pd
book = pd.read_csv("/home/ravi/bookshelf/data/books.csv",on_bad_lines="skip")
 
 
book.head()

/tmp/ipykernel_15042/2149879817.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,0439785960,9780439785969,eng,652,2095690,27591,9/16/2006,Scholastic Inc.
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,0439358078,9780439358071,eng,870,2153167,29221,9/1/2004,Scholastic Inc.
2,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,0439554896,9780439554893,eng,352,6333,244,11/1/2003,Scholastic
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56,043965548X,9780439655484,eng,435,2339585,36325,5/1/2004,Scholastic Inc.
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78,0439682584,9780439682589,eng,2690,41428,164,9/13/2004,Scholastic

In [2]:
book_columns = [i.strip() for i in book.columns]

In [3]:
book.columns = book_columns
print(book_columns)

['bookID', 'title', 'authors', 'average_rating', 'isbn', 'isbn13', 'language_code', 'num_pages', 'ratings_count', 'text_reviews_count', 'publication_date', 'publisher']

In [4]:
book.dtypes

bookID                  int64
title                  object
authors                object
average_rating        float64
isbn                   object
isbn13                  int64
language_code          object
num_pages               int64
ratings_count           int64
text_reviews_count      int64
publication_date       object
publisher              object
dtype: object

In [5]:
 
for col in book.columns:
    if book[col].dtype == "O":
        book[col+"_count"] = book[col].apply(lambda x:len(x))
        print(col+"-------",book[col+"_count"].max())

title------- 254
authors------- 750
isbn------- 10
language_code------- 5
publication_date------- 10
publisher------- 67

In [6]:
from datetime import datetime
d1,d2,d3 = [],[],[]
for date in book.publication_date:
    d1.append(int(date.split("/")[0]))
    d2.append(int(date.split("/")[1]))
    d3.append(int(date.split("/")[2]))
    #mdy

In [7]:
book.publication_date[0]

'9/16/2006'

In [8]:
book[book.language_code=="msa"]

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher,title_count,authors_count,isbn_count,language_code_count,publication_date_count,publisher_count
5917,22277,Kenang-Kenangan Seorang Geisha (Memoirs of a G...,Arthur Golden,4.11,9833346685,9789833346684,msa,784,28,6,7/1/2006,Marshall Cavendish Editions,52,13,10,3,8,27

In [10]:
book.average_rating.unique()

array([4.57, 4.49, 4.42, 4.56, 4.78, 3.74, 4.73, 4.38, 4.22, 4.21, 3.44,
       3.87, 4.07, 3.9 , 3.83, 3.86, 3.91, 3.93, 4.59, 4.5 , 4.36, 4.53,
       3.84, 3.72, 4.  , 3.88, 4.33, 3.45, 3.76, 3.6 , 4.06, 4.17, 3.55,
       3.98, 4.13, 3.95, 4.24, 4.34, 3.92, 4.23, 3.75, 3.94, 3.77, 4.46,
       3.68, 3.99, 3.25, 3.89, 3.82, 3.78, 4.01, 4.35, 4.28, 3.34, 3.67,
       3.48, 3.5 , 3.62, 4.27, 3.39, 4.12, 4.08, 4.05, 3.85, 2.99, 4.19,
       3.71, 4.2 , 3.65, 3.4 , 4.11, 3.42, 4.02, 3.69, 4.1 , 3.66, 4.61,
       4.04, 3.97, 4.14, 3.57, 3.43, 3.22, 3.64, 3.96, 3.8 , 3.81, 3.79,
       3.23, 4.15, 4.39, 4.03, 3.73, 3.51, 3.63, 3.09, 3.59, 4.29, 0.  ,
       4.25, 4.26, 3.61, 4.16, 4.55, 4.52, 3.41, 4.7 , 4.18, 3.58, 4.51,
       3.15, 3.31, 4.09, 3.49, 3.56, 4.47, 4.44, 3.7 , 4.32, 4.4 , 4.31,
       4.43, 2.8 , 3.46, 2.83, 4.62, 2.67, 4.45, 4.3 , 5.  , 3.1 , 3.08,
       3.27, 3.33, 3.  , 4.67, 4.63, 3.52, 3.36, 3.54, 3.17, 4.37, 3.29,
       4.64, 3.38, 3.37, 3.16, 3.53, 2.88, 2.98, 3.35, 3.3 , 3.24, 4.41,
       4.48, 4.54, 4.6 , 3.32, 3.13, 2.  , 3.2 , 4.58, 2.82, 3.28, 2.62,
       2.92, 3.47, 3.02, 1.  , 3.14, 3.12, 3.18, 2.86, 3.26, 3.19, 3.03,
       3.07, 3.11, 4.91, 2.55, 2.81, 4.75, 3.21, 4.71, 4.8 , 2.72, 2.79,
       2.96, 2.75, 4.86, 4.65, 2.5 , 4.82, 4.76, 4.72, 4.69, 1.67, 3.06,
       2.94, 2.89, 3.04, 2.4 , 2.61, 2.77, 2.63, 4.88, 4.83, 2.93, 2.33])